// Import Vuetify styling
@font-face {
    font-family: Futura New;
    src: url(/assets/fonts/FuturaNewBook.otf);
}

$body-font-family = 'Futura New'

@require '~vuetify/src/stylus/app.styl'

.page
  @extend .fade-transition
