// Import Vuetify styling
@font-face {
    font-family: Futura New;
    src: url(/assets/fonts/FuturaNewBook.otf);
    src: url('../fonts/FuturaNewBook.eot?#iefix&v=4.4.0') format('embedded-opentype'), url('../fonts/FuturaNewBook.woff2?v=4.4.0') format('woff2'), url('../fonts/FuturaNewBook.woff?v=4.4.0') format('woff'), url('../fonts/FuturaNewBook.ttf?v=4.4.0') format('truetype'), url('../fonts/FuturaNewBook.svg?v=4.4.0#futuranewbook') format('svg');
}

$body-font-family = 'Futura New'

@require '~vuetify/src/stylus/app.styl'

.page
  @extend .fade-transition
